.main-layout {
  position: relative;
  height: 100vh;
}

.main-layout::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/image/bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;

}

:root {
  --nav-height: 64px;
  --vp-c-brand: #3451b2;
  --vp-c-text-1: #3c3c43;
  --vp-c-text-2: #67676c;
  --vp-c-text-3: #929295;
  --vp-c-divider: #e2e2e3;
  --vp-c-bg-alt: #f6f6f7;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition:
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s ease;

}

.nav-hidden {
  transform: translateY(-100%);
  box-shadow: none !important;
}
.content-container {
  display: grid;
  
}
.page-wrapper {
  display: flex;
  justify-self: center;
  justify-content: center;
  max-width: 1111px;
  min-width: 250px;
  position: relative;
  width: 100%;
}

.page-card {
  background-color: white;
  padding: 35px;
  border-radius: 8px;
  transition: width 0.3s ease;

}

.article-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 2rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  width: 100%;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.sidebar {
  padding: 5px;
  position: absolute;
  right: -220px;
  /* 初始位置在可视区域外 */
  top: 0;
  width: 300px;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.sidebar-stay {
  position: sticky;
  top: calc(var(--nav-height) + 20px);
  margin-bottom: 40px;
  /* 保留滚动缓冲空间 */
  transition:
    top 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s ease;
  will-change: top;
  z-index: 50;
}

.nav-hidden~.el-scrollbar .sidebar-stay {
  --nav-height: 0px;
  top: 20px;
  /* 仅保留安全间距 */
}

.sidebar-card {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
}

@media (min-width: 768px) {
  .sidebar {
    position: static;
    /* 重置定位 */
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    
    right: auto;
    min-width: 200px;
  }

  .page-card {
    width: calc(100% - 220px);
  }
}

#post-info {
  height: 500px;
  display: flex;
  /* 垂直居中 */
  align-items: center;
  /* 水平居中 */
  justify-content: center;
  flex-direction: column;
}

.footer-container {
  display: flex;
  /* 垂直居中 */
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

/* 添加以下样式覆盖默认设置 */
#post-info h1 {
  font-size: 2.5rem !important;
  color: wheat !important;
  margin: 0;
  text-align: center;
}

.text a {
  text-decoration: none;
  color: #000;
}