@import './link.css';
@import './custom-block.css';
@import './vp-code-group.css';
@import './vp-code.css';
@import './blockquote.css';

/**
 * 自定以组件的相关变量
 * -------------------------------------------------------------------------- */
:root {
  --sidebar-width: 300px;
  --nav-height: 48px;
  /* 重构elementpluscss */
  --el-bg-color: var(--vp-c-bg);
}



footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/**
 * 深浅色模式切换样式 
 * -------------------------------------------------------------------------- */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

.a-card {
  background: var(--vp-c-bg);
  border-radius: 12px;
  padding: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  outline: none;
}

.a-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  /* 修复换行问题 */
  /* 强制硬件加速 */
  backface-visibility: hidden;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 公共动画类 */
.fade-item {
  opacity: 0;
  animation: fadeInUp 0.2s ease-in-out forwards;
  animation-delay: var(--delay);
}

.vp-doc blockquote {
  border-radius: 10px;
  padding: 18px 20px 20px 15px;
  position: relative;
  background-color: var(--vp-c-gray-soft);
  border-left: 6px solid var(--vp-c-green-2);
}