body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 100vw;
  min-width: 300px;
}
.main-layout {
  position: relative;
  height: 100vh;
}

.main-layout::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;

}

:root {
  --nav-height: 64px;
  --sidebar-width: 300px;
  --content-max-width: 1111px;
  --content-min-width: 250px;
  --sidebar-width: 300px;
  --sidebar-initial-offset: -300px;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition:
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s ease;
}

.nav-hidden {
  transform: translateY(-100%);
  box-shadow: none !important;
}
.Page{
  display: grid;
}
.content-container {
  display: flex;
  justify-self: center;
  justify-content: center;
  max-width: var(--content-max-width);
  min-width: var(--content-min-width);
  position: relative;
  width: 100%;
}

.page-wrapper {
  padding: 10px;
  border-radius: 8px;
  transition: width 0.3s ease;
  width: 100%;
}

.a-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 2rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  outline: none;
  margin-top: 10px;

}

.a-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.sidebar {
  padding: 10px;
  position: absolute;
  /* 初始位置在可视区域外 */
  right: var(--sidebar-initial-offset);
  top: 0;
  width: var(--sidebar-width);
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.sidebar-stay {
  position: sticky;
  top: calc(var(--nav-height) + 20px);
  margin-bottom: 40px;
  /* 保留滚动缓冲空间 */
  transition:
    top 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s ease;
  will-change: top;
  z-index: 50;
  
}

.nav-hidden~.el-scrollbar .sidebar-stay {
  --nav-height: 0px;
  top: 20px;
  /* 仅保留安全间距 */
}


@media (min-width: 768px) {
  .sidebar {
    position: static;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    min-width: 300px;
  }

  .page-wrapper {
    width: calc(100% - 300px);
  }
}

#post-info {
  height: 500px;
  display: flex;
  /* 垂直居中 */
  align-items: center;
  /* 水平居中 */
  justify-content: center;
  flex-direction: column;
}

.footer-container {
  display: flex;
  /* 垂直居中 */
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.text a {
  text-decoration: none;
  color: #000;
}