/* .vitepress/theme/style/var.css */
.vp-doc h1 {
  background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vp-doc a {
    text-decoration: none;
}